kgsgtp:
  image: lefant/kgsgtp
  #build: ../docker-kgsgtp
  command: mode=custom opponent=lefant gameNotes="for lefant"
  #command: mode=custom opponent=lefant gameNotes="9x9 only, about 25k on a good day"
  #command: mode=tournament
  restart: unless-stopped
  environment:
    NAME:
    PASSWORD:
    KGSGTP_ARGS:
kurt:
  image: lefant/kurt
  #build: .
  command: "nc.traditional -w 2 kgsgtp_1 12345 -e /root/.cabal/bin/kurt"
  restart: unless-stopped
  links:
    - kgsgtp
